# required for GymWrapper
gymnasium

# required for optimization
casadi  # built from source instead to be accessible to pinocchio build

# required for fast robot kinematics / dynamics
# pin  # built from source instead to include pin.casadi

# need to downgrade scipy: https://github.com/stack-of-tasks/pinocchio/issues/2645
# scipy==1.8.0

# need to downgrade numpy:
numpy<2.0

# macOS only
hidapi

# required for demonstration utils
h5py

# for mujoco ik
mink

# for extra robosuite_models
robosuite-models==1.0.0

# for USD export and rendering
usd-core

# for mujoco rendering
imageio[ffmpeg]
imageio[pyav]

# for plotting
matplotlib

# for ipykernel
ipykernel

# xr-teleop server
xr-360-camera-streamer